* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  overflow-x: hidden;
}

.App {
  text-align: center;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header {
  background-image: url('components/static/dryers.jpeg');
  background-size: 130%;
  background-repeat: no-repeat;
  max-height: 1000px;
  
}
.nav-list {
  width: 100%;
  opacity: 70%;
  
}
.burger {
  padding: 10px;
}
.line-1 {
  margin: 3px;
  width: 22px;
  height: 3px;
  background-color: #00aeee;
  box-shadow: 1px 1px 3px #333;
}
.line-2 {
  margin: 3px;
  width: 22px;
  height: 3px;
  background-color: #00aeee;
  box-shadow: 1px 1px 3px #333;
  
}
.line-3 {
  margin: 3px;
  width: 22px;
  height: 3px;
  background-color: #00aeee;
  box-shadow: 1px 1px 3px #333;
 
}
#phone-number {
  text-decoration: none;
  color: #ddd;
  padding: 10px;
  font-size: 22px;
  transition-duration: 1s;
}
#phone-number:hover {
  color: #00aeee;
  background-color: #eee;
  border-radius: 20px 20px;
  padding: 20px;
}
.phone-square {
  font-size: 30px;
  align-items: center;
}
.nav {
  background-color: rgba(1, 113, 117, 0.514);
  
}

.nav-style {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
  list-style: none;
  background-color: #333;
  color: #333;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.list a{
  text-decoration: none;
  color: #ddd;
}
.list li {
  list-style: none;
}
.coin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: #00aeee;
  color: #fff;
  background-image: url('components/static/washers.jpeg');
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vw;
}
.content-coin {
  width: 700px;
  background-color: #333;
  opacity: .7;
  padding: 30px;
}
.content-coin li {
  list-style: none;
}

.content-coin a {
  text-decoration: underline;
  color: #eee;
}

.content-coin a:hover {
  text-decoration: none;
  color: #fff;
  text-shadow: 2px solid #00aeee;
}
.content {
  width: 700px;
  background-color: #333;
  opacity: .7;
  padding: 30px;
}

.content-about {
  width: 60%;
  float: left;
  margin-left: 20px;
  background-color: #333;
  opacity: .7;
  padding: 30px;
}

.content li {
  list-style: none;
}

.content a {
  text-decoration: none;
}

.washfold {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('components/static/folded-laundry.jpeg');
  background-size: 160%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ee9222;
  color: #fff;
  height: 80vw;
}

.commercial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url('components/static/white-linens.jpeg');
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #333;
  color: #ddd;
  height: 80vw;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url('components/static/rolled-clothes.jpeg');
  background-size: 160%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00aeee;
  color: #fff;
  height: 80vw;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  background-image: url('components/static/girl-laundry.jpeg');
  background-size: 160%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00b15e;
  color: #fff;
  height: 80vw;
}
#contact-form {
  width: 100%;
  justify-items: center;
}
.form-control {
  width: 100%;
}
.promise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  background-image: url('components/static/community.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00aeee;
  color: #fff;
  height: 80vw;
}

@media (max-width: 419px) {
  *{
    font-size: 14px;
  }
  .content {
    max-width: 300px;   
  }
  .content-coin {
    width: 300px;
    background-color: #333;
    opacity: .7;
    
    color: #ddd;
  }
  .content-coin li{
    list-style: none;
  }
  .content-coin a{
    text-decoration: none;
    color: #fff;
  }
  .content-about {
    width: 90%;
  }


  .nav-style {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    background-color: #333;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    text-shadow: 1px 1px 10px #fff;
    color: #eee;
    width: 60%;
  }
  .nav-style li{
    color: white;
  }
  .nav-style a{
    text-decoration: none;
  }
  .coin {
    background-color: #00aeee;
    color: #fff;
    height: 40vh;
    background-size: 300%;
    
  }
  
  .washfold {
    height: 40vh;
    background-color: #ee9222;
    color: #fff;
  }

  .commercial {
    background-color: #333;
    color: #ddd;
    height: 40vh;
  }
 
  .about {
    background-color: #00aeee;
    color: #fff;
    height: 40vh;
  }
 
  .contact {
    background-color: #00b15e;
    color: #fff;
    height: 40vh;
  }
  #contact-form {
    width: 300px;
    justify-items: center;
  }
  .form-control {
    width: 360px;
  }
  .content a{
    color: #fff;

  }
  .promise {
    background-size: 130%;
    color: #fff;
    height: 40vh;
  }
  
  .burger {
    padding: 50px 20px;
    z-index: 2;
    transition: 1s ease-in-out;
  }
  .line-1 {
    margin: 3px;
    
    width: 22px;
    height: 3px;
    background-color: #00aeee;
    
    transform:  translate(280px) rotate(-45deg) translateX(-8px);
    transition: transform 0.5s ease-in;
    
  }
  .line-2 {
    margin: 3px;
    opacity: 0;
    width: 22px;
    height: 3px;
    background-color: #00aeee;
    
  }
  .line-3 {
    margin: 3px;
    width: 22px;
    height: 3px;
    transform:  translate(280px) rotate(45deg) translateX(-8px);
    transition: transform 0.5s ease-in;
    
    

  }
  .list a{
    text-decoration: none;
    color: #ddd;
  }
  .list li {
    list-style: none;
  }

}





