* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  
}

.App {
  text-align: center;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-image: url('components/static/dryers.jpeg');
  background-size: 130%;
  background-repeat: no-repeat;
  max-height: 1000px;
  
}

.burger {
  padding: 10px;
}
.line-1 {
  margin: 3px;
  width: 22px;
  height: 3px;
  background-color: #00aeee;
  outline: 1px solid #333;
}
.line-2 {
  margin: 3px;
  
  width: 22px;
  height: 3px;
  background-color: #00aeee;
  outline: 1px solid #333;
}
.line-3 {
  margin: 3px;
  width: 22px;
  height: 3px;
  background-color: #00aeee;
  outline: 1px solid #333;
}
.nav-style {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
  list-style: none;
  background-color: #333;
  color: #333;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.list a{
  text-decoration: none;
  color: #ddd;
}
.list li {
  list-style: none;
}
.coin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: #00aeee;
  color: #fff;
  background-image: url('components/static/washers.jpeg');
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vw;
}
.content-coin {
  width: 700px;
  background-color: #333;
  opacity: .7;
  padding: 30px;
}
.content-coin li {
  list-style: none;
}

.content-coin a {
  text-decoration: underline;
  color: #eee;
}

.content-coin a:hover {
  text-decoration: none;
  color: #fff;
  text-shadow: 2px solid #00aeee;
}
.content {
  width: 700px;
  background-color: #333;
  opacity: .7;
  padding: 30px;
}

.content-about {
  width: 60%;
  float: left;
  background-color: #333;
  opacity: .7;
  padding: 30px;
}

.content li {
  list-style: none;
}

.content a {
  text-decoration: none;
}

.washfold {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('components/static/folded-laundry.jpeg');
  background-size: 160%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ee9222;
  color: #fff;
  height: 80vw;
}

.commercial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url('components/static/white-linens.jpeg');
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #333;
  color: #ddd;
  height: 80vw;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url('components/static/rolled-clothes.jpeg');
  background-size: 160%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00aeee;
  color: #fff;
  height: 80vw;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  background-image: url('components/static/girl-laundry.jpeg');
  background-size: 160%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00b15e;
  color: #fff;
  height: 80vw;
}
#contact-form {
  width: 100%;
  justify-items: center;
}
.form-control {
  width: 100%;
}
.promise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  background-image: url('components/static/phonesize-beach.png');
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ee00da;
  color: #fff;
  height: 80vw;
}

@media (max-width: 419px) {
  .content {
    max-width: 350px;   
  }
  .content-coin {
    width: 340px;
    background-color: #333;
    opacity: .7;
   
    color: #ddd;
  }
  .content-coin li{
    list-style: none;
  }
  .content-coin a{
    text-decoration: none;
    color: #fff;
  }
  .content-about {
    width: 90%;
  }

  .header {
    padding-bottom: 20px;


  }

  .nav-style {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    background-color: #333;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    text-shadow: 1px 1px 10px #fff;
    color: #eee;
    width: 100%;
  }
  .coin {
    background-color: #00aeee;
    color: #fff;
    height: 60vh;
    background-size: 300%;
    
  }
  
  .washfold {
    height: 40vh;
    background-color: #ee9222;
    color: #fff;
  }

  .commercial {
    background-color: #333;
    color: #ddd;
    height: 40vh;
  }
 
  .about {
    background-color: #00aeee;
    color: #fff;
    height: 40vh;
  }
 
  .contact {
    background-color: #00b15e;
    color: #fff;
    height: 40vh;
  }
  #contact-form {
    width: 300px;
    justify-items: center;
  }
  .form-control {
    width: 300px;
  }
  .promise {
    background-color: #ee00da;
    color: #fff;
    height: 40vh;
  }

  .burger {
    padding: 50px 20px;
    z-index: 1;
  }
  .line-1 {
    margin: 3px;
    
    width: 22px;
    height: 3px;
    background-color: #00aeee;
    outline: 1px solid #333;
  }
  .line-2 {
    margin: 3px;
    
    width: 22px;
    height: 3px;
    background-color: #00aeee;
    outline: 1px solid #333;
  }
  .line-3 {
    margin: 3px;
    width: 22px;
    height: 3px;
    background-color: #00aeee;
    outline: 1px solid #333;
  }
  .list a{
    text-decoration: none;
    color: #ddd;
  }
  .list li {
    list-style: none;
  }
}

@keyframes spinner{
  from {
    transform: rotate(0deg) translate(7px);
    opacity: 1;
    background-color: #00aeee;
  }
  50% {
    transform:  translate(20px);
    opacity: 1;
    background-color: #00ffff;
  }
  to {
    transform: rotate(720deg) translate(7px);
    opacity: 1;
    background-color: #00aeee;
  }

}
@keyframes spinnerSpin{
  from {
    transform: rotate(0deg) translate(7px);
    opacity: 1;
    background-color: #00aeee;
  }
  50% {
    transform:  rotate(0deg) translate(-7px);
    opacity: 1;
    background-color: #00ffff;
  }
  to {
    transform: rotate(720deg) translate(7px);
    opacity: 1;
    background-color: #00aeee;
  }

}


.hidden {
  display: none;
}

.active {
  transform: rotate(45deg);
  animation: none;
}
.line-1 {
  animation: 3s linear 1s infinite both running spinner;
}
.line-2 {
  
  
  animation: 6s linear 1s infinite both running spinnerSpin;
}
.line-3 {
  
  animation: 9s linear 1s infinite both running spinner;

}