* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    line-height: 1.6;
  }
  
  .App {
    text-align: center;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  .img-style {
    max-width: 80%;
    max-height: 1000px;
  }
  .nav-img {
    height: 100px;
  }
  .header {
    background-size: cover;
    height: 100vh;
  }
  
  .cloud {
    background-color: #00aeee;
    border-radius: 100%;
    padding: 6px;
    position: fixed;
    margin-top: 50px;
    right: 5px;
    margin-right: 13px;
    box-shadow: 2px 2px 10px #333;
    transition: 0.3s ease all;
  }
  .cloud:hover {
    background-color: #eeea;
    color: #00aeee;
    border: 2px #00aeee solid;
  }
  .menu-logo {
  }
  .nav-list {
    width: 100%;
    opacity: 70%;
  }
  .burger {
    margin-top: 15px;
    margin-right: 14px;
    right: 6px;
    padding: 6px;
    position: fixed;
    z-index: 1;
    right: 0;
    border-radius: 5px;
  }
  .burger:hover {
    background-color: #00aeee;
  }
  .nav {
    height: 100vh;
  }
  
  .nav-links {
    border-radius: 5px;
  }
  .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    position: absolute;
    height: 10vh;
    width: 80vw;
    background: linear-gradient(
      180deg,
      rgb(0, 75, 238, 1) 0%,
      rgba(0, 174, 238, 1) 100%
    );
    box-shadow: 5px 5px 10px #333;
    position: fixed;
    transition: 0.3s ease-in-out all;
    transform: translateY(-105%) rotateY(90deg) translateX(100%);
  }
  
  .active-menu {
    transform: translateY(20%) translateX(10%);
  }
  
  .nav-links li {
    font-size: 1.3rem;
    color: #eee;
    text-decoration: none;
    transition: ease 0.3s all;
    list-style: none;
  }
  
  .nav-links li:hover {
    color: #fff;
    font-size: 1.7rem;
    border-bottom: 2px #eeea00 solid;
  }
  .line-1 {
    margin: 3px;
    width: 22px;
    height: 3px;
    background-color: #ddd;
    box-shadow: 1px 1px 3px #333;
    transition: all ease 0.3s;
  }
  .line-2 {
    margin: 3px;
    width: 22px;
    height: 3px;
    background-color: #ddd;
    box-shadow: 1px 1px 3px #333;
    transition: all ease 0.3s;
  }
  .line-3 {
    margin: 3px;
    width: 22px;
    height: 3px;
    background-color: #ddd;
    box-shadow: 1px 1px 3px #333;
    transition: all ease 0.3s;
    transform: rotateX(0deg) rotateZ(0deg);
  }
  .active-1 {
    transform: translateY(5px) rotateZ(-45deg);
  }
  .active-2 {
    opacity: 0;
  }
  .active-3 {
    transform: translateY(-7px) rotateZ(45deg);
  }
  #phone-number {
    text-decoration: none;
    color: #ddd;
    padding: 10px;
    font-size: 22px;
    transition-duration: 0.3s;
  }
  #phone-number:hover {
    color: #00aeee;
    background-color: #eee;
    border-radius: 20px 20px;
    padding: 20px;
  }
  #map {
    height: 50px;
  }
  #map a {
    text-decoration: none;
    margin: 10px;
    color: #ddd;
    padding: 10px;
    font-size: 22px;
    transition-duration: 0.3s;
  }
  #map a:hover {
    color: #00aeee;
    background-color: #eee;
    border-radius: 20px 20px;
    padding: 20px;
    transition-duration: 0.3s;
  }
  .phone-square {
    font-size: 30px;
    align-items: center;
  }
  .nav {
    background-color: rgba(1, 113, 117, 0.514);
  }
  
  .nav-style {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
    justify-content: space-around;
    list-style: none;
    background-color: #333;
    color: #333;
  }
  .list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
  .list a {
    text-decoration: none;
    color: #ddd;
  }
  .list li {
    list-style: none;
  }
  .coin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-color: #00aeee;
    color: #fff;
  }
  .content-coin {
    width: 700px;
    margin: auto;
    background-color: #333;
    opacity: 0.7;
    padding: 30px;
  }
  .content-coin li {
    list-style: none;
  }
  
  .content-coin a {
    text-decoration: underline;
    color: #eee;
  }
  
  .content-coin a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 2px solid #00aeee;
  }
  .content {
    width: 700px;
    background-color: #333;
    opacity: 0.7;
    padding: 30px;
  }
  
  .content-about {
    width: 600px;
    float: left;
    margin-left: 200px;
    background-color: #333;
    opacity: 0.7;
    padding: 30px;
  }
  
  .content li {
    list-style: none;
  }
  
  .content a {
    text-decoration: none;
    color: #ddd;
  }
  
  .washfold {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .commercial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    color: #ddd;
  }
  
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    background-color: #00aeee;
    color: #fff;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00b15e;
    color: #fff;
  }
  #contact-form {
    width: 100%;
  }
  .form-control {
    width: 100%;
    border: none;
    margin: 5px;
    text-align: center;
  }
  
  .btn {
    width: 100%;
  }
  .weather-active {
    display: flex;
    flex-direction: column;
    width: 250px;
    position: fixed;
    border-radius: 5px;
    top: 20;
    left: 20;
    background: linear-gradient(
      225deg,
      rgba(2, 0, 36, 0.6) 0%,
      rgba(9, 9, 121, 0.5) 35%,
      rgba(0, 212, 255, 0.5) 100%
    );
    color: #eee;
    padding: 20px;
    box-shadow: 2px 2px 10px #333;
    transition: 1s ease all;
    transform: translateX(20%);
  }
  .weather-hidden {
    display: flex;
    flex-direction: column;
    width: 250px;
    position: fixed;
    border-radius: 5px;
    top: 20;
    left: 30;
    background: linear-gradient(
      225deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    color: #eee;
    padding: 20px;
    box-shadow: 2px 2px 10px #333;
    transition: 1s ease all;
    transform: translateX(-100%);
  }
  .promise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #00aeee;
    color: #fff;
  }
  /* this
  is
  where
  the
  cell
  area
  is
   */
  @media (max-width: 419px) {
    * {
      font-size: 14px;
    }
    .content {
      max-width: 300px;
    }
    .content-coin {
      width: 300px;
      background-color: #333;
      opacity: 0.7;
  
      color: #ddd;
    }
    .content-coin li {
      list-style: none;
    }
    .content-coin a {
      text-decoration: none;
      color: #fff;
    }
    .content-about {
      width: 270px;
      float: center;
      margin-left: 0px;
      background-color: #333;
      opacity: 0.7;
      padding: 30px;
    }
    .header {
      /* background-size: 100vh;
      min-height: 100vh; */
    }
  
    .active-menu {
      transition: 0.3s ease all;
      transform: translateY(2%) translateX(5%);
    }
    .nav {
    }
    .nav-links {
      flex-direction: column;
      height: 100vh;
    }
    .nav-style {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      list-style: none;
      background-color: #333;
  
      top: 0;
      bottom: 0;
      z-index: 1;
      text-shadow: 1px 1px 10px #fff;
      color: #eee;
      width: 60%;
    }
    .nav-style li {
      color: white;
    }
    .nav-style a {
      text-decoration: none;
    }
    .coin {
      background-color: #00aeee;
      color: #fff;
      height: 40vh;
      background-size: 300%;
    }
  
    .washfold {
      height: 40vh;
      background-color: #ee9222;
      color: #fff;
    }
  
    .commercial {
      background-color: #333;
      color: #ddd;
      height: 40vh;
    }
  
    .about {
      background-color: #00aeee;
      color: #fff;
      height: 40vh;
    }
  
    .contact {
      background-color: #00b15e;
      color: #fff;
      height: 40vh;
    }
    #contact-form {
      width: 100%;
      justify-items: center;
    }
    .form-control {
      width: 360px;
    }
    .content a {
      color: #fff;
    }
    .promise {
      background-size: 130%;
      color: #fff;
      height: 60vh;
    }
  
    .burger {
      padding: 50px 20px;
      z-index: 2;
      transition: 0.3s ease-in-out;
    }
  
    .list a {
      text-decoration: none;
      color: #ddd;
    }
    .list li {
      list-style: none;
    }
  }
  